
.container {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}


.main-header {
    background-color: #333333;
    padding: 1rem;
}

.main-header a {
    color: #B0B0B0;
    text-decoration: none;
    text-transform: uppercase;
    padding: 1rem;
}
.main-header a:hover {
    color: #FFFFFF;
}
.main-header a.active {
    color: #e0fd00;
}